@media (max-width: 768px) {
    h1 {
      font-size: 24px; /* Smaller font for small screens */
    }
    .container-fluid {
    
      height: auto; /* Adjust height for smaller screens */
      padding: 20px; /* Add padding for better spacing */
    }
  }

  @media (min-width: 769px) {
    h1 {
      font-size: 60px; /* Default font size */
    }
  }